<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>黑马前端社区</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="container-wrap">
      <div class="container">
        <div class="article-title">
          <h2>{{ article.title }} </h2>
        </div>
        <div class="article-content">
          {{ article.content }}
            <hr>
            <p> 
              <!-- 只有用户登陆，并且当前文章的user_id与用户的id一致才可以编辑 -->
              {{ if(user && user._id === article.user_id ) }}
                <a href="/article/edit?id={{ article.id }}">编辑</a>
              {{ /if }}
            </p>
        </div>
      </div>
    </div>
    <div class="footer"></div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </script>
</body>

</html>