<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>黑马前端社区</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <div class="container-wrap">
    <div class="container">
      <form id="form">
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="请输入文章标题">
          <input type="hidden" name="user_id" class="form-control" value="{{ user._id }}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">文章类型</label>
          <div class="radio">
            <label>
              <input type="radio" name="articleType" id="optionsRadios1" value="wenda" checked>问答
            </label>
            <label>
              <input type="radio" name="articleType" id="optionsRadios1" value="wenzhang" checked>文章
            </label>
            <label>
              <input type="radio" name="articleType" id="optionsRadios1" value="chuishui" checked>吹水
            </label>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">内容</label>
            <textarea class="form-control" name="content" cols="30" rows="10"></textarea>
          </div>
          <button type="submit" class="btn btn-default">发布</button>
      </form>
      </div>
    </div>
    <div class="footer"></div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

<script>
  $('#form').submit(function (e) {
    //1.禁用表单默认提交事件
    e.preventDefault();
    //2.提交表单数据
    $.ajax({
      url: '/article/add',
      type: 'post',
      dataType: 'json',
      data: $(this).serialize(),
      success: function (data) {
        if(data.err_code === 0){
          //添加成功回到首页
          window.location.href = '/';
        }else{
          window.alert(data.err_message);
        }
       
      }
    });
  })
</script>

</html>