<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>黑马前端社区</title>
	<!-- 导入jquery -->
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<!-- 导入bootstrap -->
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<!-- 模板引擎 -->
	<script src="/node_modules/art-template/lib/template-web.js"></script>
</head>

<style type="text/css">
.navbar-header .nav_logo {
		margin-top: -12px
	}

	.container {
		background-color: #fff
	}

	.navbar-left {
		margin-right: 10px
	}

	.nav .nav-pills {
		padding-top: 5px
	}

	.media-object {
		width: 50px
	}

	.count_set {
		margin-top: 10px
	}
}
</style>

<body>
	<!-- 顶部区域 -->
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						  aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="/public/img/nav_logo.png" class="nav_logo">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav nav-pills ">
							<ul class="nav nav-pills">
								<li role="presentation" class="enabled articleType">
									<a href="#">问答</a>
								</li>
								<li role="presentation" class="enabled">
									<a href="#">文章</a>
								</li>
								<li role="presentation" class="enabled">
									<a href="#">吹水</a>
								</li>
							</ul>
						</ul>
						<form class="navbar-form navbar-left">
							<div class="form-group">
								<input type="text" class="form-control" id="searchInput" placeholder="搜索" value="{{ searchStr }}">
							</div>
							<a id="search" href="#">搜索</a>
						</form>
						<ul class="nav navbar-nav navbar-right">

							{{ if !user }}
							<li>
								<form class="navbar-form navbar-left">
									<a href="/login" class="btn btn-primary">登陆</a>
									<a href="/register" class="btn btn-success">注册</a>
								</form>
							</li>
							{{ else }}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">发表
									<span class="caret">{{ user.email }}</span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/article/add">问答</a>
									</li>
									<li>
										<a href="/article/add">文章</a>
									</li>
									<li>
										<a href="/article/add">吹水</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span style="color: #F80ED9;font-size:20px"></span>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/logout">注销</a>
									</li>
									{{ /if }}

								</ul>
							</li>


						</ul>

					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
	</div>

	<!-- 文章列表区域 -->
	<div class="container-wrap">
		<div class="container">
			<ul class="list-group"></ul>
			{{ each articles }}
			<li class="list-group-item ">
				<div class="media">
					<div class="media-left media-middle">
						<a href="#">
							<img class="media-object img-circle" src="public/img/default_icon.png" alt="...">
						</a>
					</div>
					<div class="media-body">
						<a href="/article/info?id={{ $value.id }}">
							<h4 class="media-heading" style="color: #15F44B">{{ $value.title }}</h4>
						</a>
						<h5 class="media-heading">{{ $value.content }}</h5>

						<div class="count_set">
							<span class="count_of_visits" title="查看数">
								{{ $value.visits }}
							</span>
							<span class="count_seperator">|</span>

							<span class="count_of_time" title="发表时间">
								{{ $value.localTime }}
							</span>
						</div>
					</div>
				</div>
			</li>
			{{ /each }}
			</ul>

			<!-- 底部分页区域 -->
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>

					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>

					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>

</body>

<script type="text/javascript">

//1.搜索有两种触发方式  1；点击搜索a标签  2.直接按回车
	//封装搜索请求
	function search(e) {
		e.preventDefault();
		//这是一种比ajax更简单的get传参的形式
		var searchStr = $('#searchInput').val();
		var href = '/index/search?searchStr=' + searchStr;
		window.location.href = href;
	}

	//1.搜索按钮点击事件
	$('#search').on('click', function (e) {
		search(e);
	});

	//2.搜索框输入事件
	$('#searchInput').bind('keypress', function (event) {
		//enter键
		if (event.keyCode == "13") {
			search(event);
		}
	});
</script>

</html>