<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>注册</title>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="container">
    <form class="form-signin" id="form">
      <h2 class="form-signin-heading">欢迎加入我们</h2>
      <input name="email" type="email" class="form-control" placeholder="邮箱" required autofocus>
      <input name="password" type="password" class="form-control" placeholder="密码" required>
      <input name="nickname" type="text" id="inputPassword" class="form-control" placeholder="昵称" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> 记住我
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">提交注册</button>
    </form>
  </div>

</body>

<script>
  $('#form').on('submit', function (e) {
    //禁用表单默认提交事件
    e.preventDefault();
    $.ajax({
      url: '/register',
      type: 'post',
      dataType: 'json',
      data: $(this).serialize(),
      success: function (data) {
          if(data.err_code === 2000){
            //注册成功应该跳转到登陆界面
            window.location.href = '/login';
          }else{
            window.alert(data.err_message);
          }
      }
    });
  });
</script>

</html>